PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=tienda_variedades
JWT_SECRET=usa_un_secreto_largo_aleatorio_de_32_caracteres_minimo
JWT_EXPIRES_IN=2h
WHATSAPP_OWNER_NUMBER=50370537289
RESERVATION_MINUTES=30
WOMPI_CLIENT_ID=
WOMPI_CLIENT_SECRET=
WOMPI_API_SECRET=
WOMPI_TOKEN_URL=https://id.wompi.sv/connect/token
WOMPI_API_URL=https://api.wompi.sv
WOMPI_REDIRECT_URL=http://localhost:3000/cart
WOMPI_WEBHOOK_URL=http://localhost:4000/api/wompi/webhook

FRONTEND_URL=http://localhost:3000
NODE_ENV=development
